html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
    /* background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, #ffe5d4 0%, #e9a68f 95%); */
        background: linear-gradient(217deg, rgba(255, 0, 221, 0.8), rgba(255,0,0,0) 50%),
        linear-gradient(127deg, rgba(89, 0, 255, 0.8), rgba(0,255,0,0) 50%),
        linear-gradient(336deg, rgba(0, 89, 255, 0.8), rgba(0,0,255,0) 50%);
    background-repeat: repeat;
    background-attachment: fixed;
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form{ 
	width:500px;
	margin:20px;
    background-color: #f9f9f9;
}

.btn{
    align-content: center;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}

#searchBar {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#recordsTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#recordsTable th, #recordsTable td {
  text-align: left;
  padding: 12px;
}

#recordsTable tr {
  border-bottom: 1px solid #ddd;
}

#recordsTable tr.header, #recordsTable tr:hover {
  background-color: #f1f1f1;
}